<div class="header">
  <div class="container">
    <h2>
      {{link-to "Our Awesome Bookstore" "books"}}
    </h2>
  </div>
</div>

<div class="container">
  <div class={{if blur "blur-background"}}>
    {{outlet}}
  </div>
</div>
