<div class="author">
  <h1>{{model.name}}</h1>
  {{paper-divider}}
  <br>
  <p><strong>Biography</strong>:</p>
  <div class="biography">
    {{markdown-to-html model.biography}}
  </div>

  <br>
  <h4>Published titles:</h4>
  <div class="layout-row layout-wrap layout-xs-column">
    {{#each model.books as |book|}}
      {{book-cover book=book blurBackground=(route-action "blurBackground")}}
    {{/each}}
  </div>
</div>