<div class="layout-row layout-wrap layout-xs-column">
  {{#each model as |book|}}
    {{book-cover book=book blurBackground=(route-action "blurBackground")}}
  {{/each}}
</div>

{{#if showAll}}
  <button class="md-button" {{action "showAll"}}>Show All</button>
{{/if}}